#folders
!biomeswevegone/
biomeswevegone/*
!drippyloadingscreen/
!fancymenu/
!incontrol/
!InventoryHUD/
!jade/
!loadingscreens/
!paxi/
!pickupnotifier/
!sounds/

#files
!.gitignore
!biomeswevegone/world_generation.json5
!betterfpsdist.json
!biome_replacer.properties
!chloride-client.json
!clearwater.jsonc
!cull-less-leaves.json
!custom_worldgen-config.json
!deeper_oceans.json
!ding.toml
!embeddium*.*
!emi*.*
!immediatelyfast.json
!immersiveui.yaml
!inventoryhud-client.toml
!jecharacters.toml
!lithium.properties
!loquat*.yaml
!lsp.json
!minieffects-client.yaml
!modmenu.json
!overflowingbars-client.toml
!patchouli-client.toml
!RuOK.toml
!sodium*.*
!tips.json
!toastcontrol-common.toml
!travelerstitles-forge-1_20.toml
!verdant-*.toml
!xaero*.*
!mobplaques-client.toml
