#folders
!inventoryprofilesnext/
inventoryprofilesnext/*
!drippyloadingscreen/
!fancymenu/
!incontrol/
!InventoryHUD/
!jade/
!loadingscreens/
!paxi/
!pickupnotifier/
!sounds/

#files
!.gitignore
!inventoryprofilesnext/inventoryprofiles.json
!betterfpsdist.json
!chloride-client.json
!clearwater.jsonc
!cull-less-leaves.json
!ding.toml
!embeddium*.*
!emi*.*
!immediatelyfast.json
!immersiveui.yaml
!inventoryhud-client.toml
!jecharacters.toml
!lithium.properties
!loquat*.yaml
!lsp.json
!minieffects-client.yaml
!modmenu.json
!overflowingbars-client.toml
!patchouli-client.toml
!smoothscroll.json
!sodium*.*
!tips.json
!toastcontrol-common.toml
!travelerstitles-forge-1_20.toml
!upgrade_aquatic*.toml
!verdant-*.toml
!xaero*.*