#folders
!inventoryprofilesnext/
inventoryprofilesnext/*
!fancymenu/
!incontrol/
!InventoryHUD/
!jade/
!paxi/
!pickupnotifier/

#files
!.gitignore
!inventoryprofilesnext/inventoryprofiles.json
!betterfpsdist.json
!chloride-client.json
!cull-less-leaves.json
!embeddium*.*
!emi*.*
!immediatelyfast.json
!immersiveui.yaml
!inventoryhud-client.toml
!jecharacters.toml
!lithium.properties
!loquat*.yaml
!lsp.json
!minieffects-client.yaml
!patchouli-client.toml
!smoothscroll.json
!sodium*.*
!toastcontrol-common.toml
!xaero*.*